<div class="main-container">
  <mat-card>
    <div class="header-container">
      <mat-card-header>
        <mat-card-title>Reset Password</mat-card-title>
      </mat-card-header>
    </div>
    <mat-card-content>
      <div class="form-container">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              placeholder="Your Email"
              formControlName="email"
              required
            />

            @if(resetPasswordForm.get('email')?.hasError('required')){
            <mat-error>Email is Required</mat-error>
            } @if(resetPasswordForm.get('email')?.hasError('email')){
            <mat-error>Email is invalid </mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>New Password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              placeholder="Enter your new password"
              formControlName="newPassword"
              required
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>

            @if(resetPasswordForm.get('newPassword')?.hasError('invalidLength')){
            <mat-error> the password must be more than 6 characters</mat-error>
            }
            @if(resetPasswordForm.get('newPassword')?.hasError('invalidComposition')){
            <mat-error>
              The password must contain at least one letter and one number.
            </mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              placeholder="Confirm your new password"
              formControlName="confirmPassword"
              required
            />

            @if(resetPasswordForm.get('confirmPassword')?.hasError('invalidLength')){
            <mat-error> the password must be more than 6 characters</mat-error>
            }
            @if(resetPasswordForm.get('confirmPassword')?.hasError('invalidComposition')){
            <mat-error>
              The password must contain at least one letter and one number.
            </mat-error>
            }

            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>

          <div class="button-container">
            <button
              mat-button
              color="primary"
              [disabled]="!resetPasswordForm.valid"
              type="submit"
            >
              Reset
            </button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
