.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  //   text-align: center;

  .card {
    // width: 100%;
    // max-width: 400px;
    padding: 20px;

    .mat-card-header {
      display: flex;
      justify-content: center;
    }

    mat-card-title {
      text-align: center;
      width: 100%;
    }

    .field-container {
      margin: 15px 0;
    }
  }
}

mat-card {
  border-radius: 30px;
  box-shadow: 2px 2px 12px 1px #d8d2d2;
}
